<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="https://github.com/realtroffy">
    <title>UsersVisit</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table table-responsive table-bordered table-striped">
            <thead>
            <tr>
                <th> Id</th>
                <th> Date message</th>
                <th> First name</th>
                <th> Last name</th>
                <th> Button name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="2"> No Info Available</td>
            </tr>
            <tr th:each="userWriteBot : ${users}">
                <td><span th:text="${userWriteBot.id}"> Id </span></td>
                <td><span th:text="${userWriteBot.dateMessage}"> Date message </span></td>
                <td><span th:text="${userWriteBot.firstName}"> First name </span></td>
                <td><span th:text="${userWriteBot.lastName}"> Last name </span></td>
                <td><span th:text="${userWriteBot.buttonName}"> Button name </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<form th:action="@{/logout}" th:method="POST" style="text-align: center;">
    <input class="" type="submit" value="Logout"/>
</form>
<br>
<div style="text-align: center">
    <a th:href="@{/users(page=${lastPage-1})}">Show penultimate page</a>
    <br>
    <a th:href="@{/users(page=${lastPage})}">Show last page</a>
</div>
</body>
</html>